.vertical-line {
    background: #E1E1E5;
    width: 2px;
    flex-grow: 1;
}

.square {
    width: 16px;
    height: 16px;
    border-radius: 4px;
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.square > i {
    color: #FFFFFF;
    font-size: 20px;
}
