.countdown-alert {
    position: absolute;
    top: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    opacity: 50%;
}

.countdown-paper {
    display: flex;
    align-items: center;
    color: #fff !important;
}