<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Checkout</title>
    <!--Importing this bundle, which uses @nemuru-eng/ui-core to log in and get the loan, loan calculators,-->
    <!--and amortization plans, needed by the widget (main.js)-->
    <!--Review webpack.dev.config.js-->
    <script src="nemuru.js"></script>
    <script>
        const gtmid = "<%= htmlWebpackPlugin.options.gtmid %>";
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer',gtmid);
    </script>
</head>
<body>
<script>
    // The following is an asyncronous function that attempts to load the main.js bundle under
    // the condition that the vendor.js has successfully initiated and added all the necessary
    // parameters needed by the widget into the localStorage.
    const init = async (retry = 0) => {
        if (retry >= 3) {
            console.log('End of retries. Review the loan ID and environment in the URL.');
            console.log('Clearing local storage.');
            localStorage.clear();
            return;
        }
        if (!localStorage.getItem('ready')) {
           console.log(`Local storage empty, retry # ${retry}...`)
           setTimeout(() => init(retry + 1), 2000);
           return;
        }
        const order = JSON.parse(localStorage.getItem('loan'));
        order.customer.birthDate = order.customer.birthDate ? new Date(order.customer.birthDate) : undefined;
        window.xprops = {
            env: JSON.parse(localStorage.getItem('env')),
            accessToken: JSON.parse(localStorage.getItem('accessToken')),
            configuration: {
                currency: 'EUR',
                decimalSeparator: '.',
                thousandSeparator: ',',
                locale: JSON.parse(localStorage.getItem('locale')),
            },
            order,
            loanCalculators: JSON.parse(localStorage.getItem('loanCalculators')),
            amortizationPlans: JSON.parse(localStorage.getItem('amortizationPlans')),
            style: {
                color: {
                    value: '#3E6AE1',
                },
                variant: {
                    value: 'hidden',
                },
                branding: {
                    value: JSON.parse(localStorage.getItem('branding')),
                },
            },
            behaviour: {
                expirationTimeInMinutes: 80000,
                disableFormEdition: true,
                disableClose: false
            },
            handleCloseDialog: (status) => {
                console.log('handleCloseDialog', status);
            },
        };
        console.log('Creating root div...')
        const root = document.createElement('div');
        root.id = 'root';
        document.body.appendChild(root);
        console.log('Importing main.js...')
        const script = document.createElement('script');
        script.src = 'main.js';
        script.defer = true;
        document.head.appendChild(script);
    }
    init();
</script>
</body>
</html>