/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined&display=block');

@font-face {
    font-family: 'arial-fallback';
    size-adjust: 91%;
    font-weight: normal;
    src: local("Arial");
}

@font-face {
    font-family: 'arial-fallback';
    size-adjust: 91%;
    font-weight: bold;
    src: local("Arial Bold");
}

@font-face {
    font-family: 'Iberia text';
    font-style: normal;
    font-weight: normal;
    src: url('https://nemuru-com-cdn.s3.eu-west-1.amazonaws.com/assets/fonts/iberia-text.ttf') format('truetype');
    font-display: optional;
}

@font-face {
    font-family: 'Iberia text';
    font-style: normal;
    font-weight: bold;
    src: url('https://nemuru-com-cdn.s3.eu-west-1.amazonaws.com/assets/fonts/iberia-text-bold.ttf') format('truetype');
    font-display: optional;
}

@font-face {
    font-family: 'Iberia headline';
    font-style: normal;
    font-weight: normal;
    src: url('https://nemuru-com-cdn.s3.eu-west-1.amazonaws.com/assets/fonts/iberia-headline.ttf') format('truetype');
    font-display: optional;
}

html, body, p {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
}

.link {
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-decoration: underline;
    white-space: nowrap;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.popup-wrapper {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2147483645;
    overflow-y: auto;
}

.popup-wrapper .popup-content {
    max-width: 498px;
}

.popup-content {
    display: block;
    background-color: #fff;
    min-width: 310px;
    max-width: 498px;
    height: auto;
    width: auto;
    margin: 5% auto;
    overflow: hidden;
}

.step-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 600px;
    position: relative;
}

@media (min-width: 768px) {
    .popup-content {
        border-radius: 8px;
    }
}

@media only screen and (max-width: 498px) {
    .popup-wrapper .popup-content {
        margin-top: 0;
        margin-bottom: 0;
        overflow: scroll;
        height: 100%;
    }

    .step-content {
        min-height: 550px;
    }
}


.color-grey-dark {
    color: #94959B;
}

.appear-anim {
    -webkit-animation: appear-anim 0.6s; /* Safari 4.0 - 8.0 */
    animation: appear-anim 0.6s; /* Safari 4.0 - 8.0 */
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    transition: height 4.25s ease-in;
}

@keyframes appear-anim {
    0% {
        transform: translateY(-20px);
        opacity: 0.2;
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        opacity: 1;
    }
}