/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');*/

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.root {
    display: flex;
    font-family: 'Poppins', sans-serif !important;
}

p {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 24px;
    font-family: 'Poppins', sans-serif !important;
}


a {
    cursor: pointer;
    text-decoration: underline;
    line-height: 24px;
}

.caption {
    font-size: 12px;
    color: #94959B;
    line-height: 20px;
    font-family: 'Poppins', sans-serif !important;
}

.button {
    margin: 0 2px;
    /*padding-top: 4px;*/
    padding-left: 0px;
    padding-right: 0px;
    font-size: 18px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.select-banner-calculator {
    display: inline-flex;
    flex-wrap: wrap;
    padding: 8px 16px;
    border: 1px solid rgb(199, 199, 198);
    width: 100%;
    box-sizing: border-box;
    align-content: center;
    justify-content: space-between;
}

.select-calculator {
    display: inline-flex;
    flex-wrap: wrap;
}

.text-banner-calculator {
    display: inline-flex;
    flex-wrap: wrap;
    padding: 8px 16px;
    border: 1px solid rgb(199, 199, 198);
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
}

.text-banner-calculator > .text-calculator {
    width: 100%;
}

.text-calculator {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
}