.circular-progress {
    height: 60px !important;
    width: 60px !important;
}

@media (max-width: 425px) {
    .circular-progress {
        height: 60px !important;
        width: 60px !important;
    }
}

.icon-circle {
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    margin: 4px 0;
    flex-shrink: 0;
}

.icon-circle > i {
    font-size: 38px;
}

/*@media (max-width: 425px) {*/
/*    .icon-circle {*/
/*        height: 60px;*/
/*        width: 60px;*/
/*    }*/

/*    .icon-circle > i {*/
/*        font-size: 38px;*/
/*    }*/
/*}*/

.icon-circle-small {
    height: 52px;
    width: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    margin: 4px 0;
    flex-shrink: 0;
}

.icon-circle-small > i {
    font-size: 24px;
}