/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined&display=swap');

html, body, p {
    margin: 0;
    color: #17120f;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    font-family: 'Poppins', sans-serif;
}

.link {
    font-family: Open Sans, sans-serif;
    color: #17120f;
    font-size: 16px;
    font-weight: 500;
    text-decoration: underline;
    white-space: nowrap;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.button {
    width: 100%;
    background-color: black;
    color: #fff;
    text-decoration: none;
    padding: 16px 0;
    font-size: 18px;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    white-space: nowrap;
    border: none;
    cursor: pointer;
}

.popup-wrapper {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2147483645;
    overflow-y: auto;
}

.popup-wrapper .popup-content {
    max-width: 498px;
}

.popup-content {
    display: block;
    background-color: #fff;
    min-width: 320px;
    max-width: 498px;
    height: auto;
    width: auto;
    margin: 5% auto;
    overflow: hidden;
}

@media (min-width: 768px) {
    .popup-content {
        border-radius: 8px;
    }
}

@media only screen and (max-width: 498px) {
    .popup-wrapper .popup-content {
        margin-top: 0;
        margin-bottom: 0;
        overflow: scroll;
        height: 100%;
    }
}

.color-grey-dark {
    color: #94959B;
}

.icon {
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 100%;
}


.appear-anim {
    -webkit-animation: appear-anim 0.6s; /* Safari 4.0 - 8.0 */
    animation: appear-anim 0.6s; /* Safari 4.0 - 8.0 */
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    transition: height 4.25s ease-in;
}

@keyframes appear-anim {
    0% {
        transform: translateY(-20px);
        opacity: 0.2;
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        opacity: 1;
    }
}

.shorted-cell {
    max-width: 100%;
    overflow: hidden;
    height: 20px;
    text-overflow: ellipsis;
    transition: shadow 0s;
}

.shorted-cell:hover {
    /*max-width: fit-content !important;*/
    /*width: fit-content !important;*/
    /*width: calc(100% - 100px);*/
    /*position: absolute;*/
    background: #fff;
    z-index: 1;
    /*box-shadow: 0px 3px 15px rgba(0,0,0,0.2), 0px 1px 3px rgba(0,0,0,0.1);*/
    /*padding: 10px;*/
    height: fit-content !important;
    /*margin-top: -20px;*/
    /*margin-left: -10px;*/
    border-radius: 5px;
    transition: box-shadow 0.3s !important;
    /*overflow-x: scroll;*/

    max-width: fit-content !important;
    width: 100%;
    text-overflow: unset;
    overflow: auto;
    white-space: nowrap;
    padding: 4px 10px;
    margin-top: -8px;
    margin-left: 0;
    position: relative;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.1), 0px 1px 3px rgba(0,0,0,0.1);
}