#card_form {
    display: flex;
    justify-content: center;
}

.overlay-blur {
    position: absolute;
    top: 0;
    left: -20px;
    right: -20px;
    bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    margin-top: 0;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(2px);
    z-index: 2;
}