.vertical-line {
    position: absolute;
    background: #E1E1E5;
    width: 2px;
    height: 32px;
    margin-left: 9px;
    margin-top: 80px;
}

.vertical-line-compressed {
    position: absolute;
    background: #E1E1E5;
    width: 2px;
    height: 14px;
    margin-left: 8px;
    margin-top: 38px;
}

.square {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}


.square-compressed {
    width: 18px;
    height: 18px;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.square > i {
    color: #FFFFFF;
    font-size: 20px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.donut-chart {
    position: relative;
    border-radius: 100%;
    flex-shrink: 0;
}

p.center {
    background: #FFF;
    position: absolute;
    text-align: center;
    font-size: 28px;
    top:0;
    left:0;
    bottom:0;
    right:0;
    margin: auto;
    border-radius: 50%;
    line-height: 35px;
    padding: 15% 0 0;
}


.portion-block {
    border-radius: 50%;
    height: 100%;
    position: absolute;
    width: 100%;
}

.circle-6, .circle-10, .circle-12 {
    border-radius: 50%;
    height: 100%;
    position: absolute;
    width: 100%;
    font-family: monospace;
    font-size: 1.5rem;
}

.part {
    animation: appear-anim 0.001s;
    /*animation: appear-anim 2s;*/
}

.part .circle-6 {
    animation: circle-6-anim 0.5s 1 forwards;
    /*animation: circle-6-anim 0.5s 1 forwards;*/
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}

.part .circle-10 {
    animation: circle-10-anim 0.5s 1 forwards;
    /*animation: circle-6-anim 0.5s 1 forwards;*/
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}

.part .circle-12 {
    animation: circle-12-anim 0.5s 1 forwards;
    /*animation: circle-12-anim 1s 1 forwards 0.1s;*/
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}

/* Animation */
@keyframes appear-anim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes circle-6-anim {
    0% {
        transform: rotate(1deg);
        opacity: 0;
    }
    100% {
        transform: rotate(56deg);
        opacity: 1;
    }
}

@keyframes circle-10-anim {
    0% {
        transform: rotate(1deg);
        opacity: 0;
    }
    100% {
        transform: rotate(34deg);
        opacity: 1;
    }
}

@keyframes circle-12-anim {
    0% {
        transform: rotate(1deg);
        opacity: 0;
    }
    100% {
        transform: rotate(28deg);
        opacity: 1;
    }
}