
.selector-option {
    display: flex;
    flex-grow: 1;
    position: relative;
    margin: 4px;
    cursor: pointer;
}

.disabled {
    /*filter: invert(100%) sepia(18%) saturate(1228%) hue-rotate(179deg) brightness(100%) contrast(93%);*/
    color: #F0F0F5;
}