@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined&display=swap');

/*!* material-icons-outlined *!*/
/*@font-face {*/
/*  font-family: 'Material Icons Outlined';*/
/*  font-style: normal;*/
/*  font-weight: 400;*/
/*  src: url('./apps/Shared/assets/fonts/material-icons-outlined.woff2') format('woff2');*/
/*}*/

/*!* open-sans-regular - latin *!*/
/*@font-face {*/
/*  font-family: 'Open Sans';*/
/*  font-style: normal;*/
/*  font-weight: 400;*/
/*  src: url('./apps/Shared/assets/fonts/open-sans-v27-latin-regular.eot'); !* IE9 Compat Modes *!*/
/*  src: local(''),*/
/*  url('./apps/Shared/assets/fonts/open-sans-v27-latin-regular.eot?#iefix') format('embedded-opentype'), !* IE6-IE8 *!*/
/*  url('./apps/Shared/assets/fonts/open-sans-v27-latin-regular.woff2') format('woff2'), !* Super Modern Browsers *!*/
/*  url('./apps/Shared/assets/fonts/open-sans-v27-latin-regular.woff') format('woff'), !* Modern Browsers *!*/
/*  url('./apps/Shared/assets/fonts/open-sans-v27-latin-regular.ttf') format('truetype'), !* Safari, Android, iOS *!*/
/*  url('./apps/Shared/assets/fonts/open-sans-v27-latin-regular.svg#OpenSans') format('svg'); !* Legacy iOS *!*/
/*}*/

/*!* open-sans-700 - latin *!*/
/*@font-face {*/
/*  font-family: 'Open Sans';*/
/*  font-style: normal;*/
/*  font-weight: 700;*/
/*  src: url('./apps/Shared/assets/fonts/open-sans-v27-latin-700.eot'); !* IE9 Compat Modes *!*/
/*  src: local(''),*/
/*  url('./apps/Shared/assets/fonts/open-sans-v27-latin-700.eot?#iefix') format('embedded-opentype'), !* IE6-IE8 *!*/
/*  url('./apps/Shared/assets/fonts/open-sans-v27-latin-700.woff2') format('woff2'), !* Super Modern Browsers *!*/
/*  url('./apps/Shared/assets/fonts/open-sans-v27-latin-700.woff') format('woff'), !* Modern Browsers *!*/
/*  url('./apps/Shared/assets/fonts/open-sans-v27-latin-700.ttf') format('truetype'), !* Safari, Android, iOS *!*/
/*  url('./apps/Shared/assets/fonts/open-sans-v27-latin-700.svg#OpenSans') format('svg'); !* Legacy iOS *!*/
/*}*/

/*.material-icons-outlined {*/
/*  font-family: 'Material Icons Outlined';*/
/*  font-weight: normal;*/
/*  font-style: normal;*/
/*  font-size: 24px;*/
/*  line-height: 1;*/
/*  letter-spacing: normal;*/
/*  text-transform: none;*/
/*  display: inline-block;*/
/*  white-space: nowrap;*/
/*  word-wrap: normal;*/
/*  direction: ltr;*/
/*  -webkit-font-feature-settings: 'liga';*/
/*  -webkit-font-smoothing: antialiased;*/
/*}*/

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.appear-anim {
  -webkit-animation: appear-anim 0.5s; /* Safari 4.0 - 8.0 */
  animation: appear-anim 0.5s; /* Safari 4.0 - 8.0 */
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  transition: height 4.25s ease-in;
}

@-webkit-keyframes appear-anim {
  0% {
    transform: translateY(-20px);
    opacity: 0.2;
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
  }
}