/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

html, body, p {
    margin: 0;
    color: #17120f;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    font-family: 'Poppins', sans-serif;
}

.link {
    font-family: Open Sans, sans-serif;
    color: #17120f;
    font-size: 16px;
    font-weight: 500;
    text-decoration: underline;
    white-space: nowrap;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.button {
    width: 100%;
    background-color: black;
    color: #fff;
    text-decoration: none;
    padding: 10px 16px;
    font-size: 20px;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    white-space: nowrap;
    border: none;
    cursor: pointer;
}

.popup-wrapper {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2147483645;
    overflow-y: auto;
}

.popup-wrapper .popup-content {
    max-width: 534px;
}

.popup-content {
    display: block;
    background-color: #fff;
    min-width: 320px;
    max-width: 534px;
    height: auto;
    width: auto;
    margin: 5% auto;
    overflow: hidden;
}

@media (min-width: 768px) {
    .popup-content {
        border-radius: 8px;
    }
}

@media only screen and (max-width: 530px) {
    .popup-wrapper .popup-content {
        margin-top: 0;
        margin-bottom: 0;
        overflow: scroll;
        height: 100%;
    }
}


h4 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.03em;
    margin: 0;
}

h6 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
}

p, .body2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.micro {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
}

.color-grey-dark {
    color: #94959B;
}